.curriculum-wrapper .lecture-container {
    display: flex;
    padding: 12px 30px 12px 43px;
    background-color: #fff;
    border: 1px solid #e8e9eb;
    border-top: none;
    color: #686f7a;
    letter-spacing: .3px;
    line-height: 1.33;
}