.w4 {
  position: relative;
  margin: auto;

  .agile {
    position: relative;
    // width: 500px;
  }
}

.signin-form {
  background: url(../../images/banner1.jpg)no-repeat 0px 0px;
  background-size: cover;
  padding: 2em 2em;
  text-align: center;
}

.signin-form h3 {
  font-size: 2em;
  color: #fff;
  font-weight: 700;
  margin-bottom: 1.5em;
}

.signin-form h3 span {
  color: #67e1ff;
}

.signin-form img {
  border-radius: 50%;
}

.login-form {
  margin: 1em 0 2.5em;
}

.signin-form input[type="text"],
.signin-form input[type="password"] {
  width: 100%;
  padding: 1em 1em 1em 1em;
  font-size: 0.8em;
  margin: 1em 0;
  outline: none;
  color: #FFF;
  border: none;
  border-bottom: 2px solid #fff;
  letter-spacing: 1px;
  text-align: center;
}

.signin-form input[type="text"] {
  background: none;
  display: block;
}

.signin-form input[type="password"] {
  background: none;
  display: block;
}

::-webkit-input-placeholder {
  color: #fff !important;
}

.signin-form button[type="submit"] {
  outline: none;
  padding: 0.9em 0;
  width: 50%;
  text-align: center;
  font-size: 1em;
  margin-top: 1em;
  border: none;
  color: #fff;
  cursor: pointer;
  background: #0b4379;
  box-shadow: 0px 2px 1px rgba(28, 28, 29, 0.42);
  border-radius: 22px;

}

.signin-form input[type="submit"]:hover {
  color: #fff;
  background: #002242;
  transition: .5s all;
  -webkit-transition: .5s all;
  -moz-transition: .5s all;
  -o-transition: .5s all;
  -ms-transition: .5s all;
}

.signin-form p a {
  font-size: 0.875em;
  color: #fff;
  letter-spacing: 1px;
}

.header-social {
  text-align: center;
  margin-bottom: 2em;
  display: flex;
}

.tp {
  margin: 3.7em 0 0;
}

h5 {
  border-left: 1px dotted #7467b9;
  padding: 0.5em;
}

.header-social a.face {
  background: url(../../images/fac.png)no-repeat 12px 9px #3B62A3;
  color: #FFF;
  font-size: 16px;
  font-weight: 400;
  padding: 0 2em;
  flex: 5;
  text-align: left;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  display: inline-block;
  border-radius: 14px 0px 0px 14px;
}

.header-social a.face:hover {
  background: url(../../images/fac.png)no-repeat 12px 9px #0E387C;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
}

/*-- w3layouts --*/
.header-social a.goog {
  background: url(../../images/google.png)no-repeat 12px 9px #D64639;
  color: #FFF;
  font-size: 16px;
  font-weight: 400;
  padding: 0 2.5em;
  flex: 5;
  text-align: left;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border-radius: 0px 14px 14px 0px;
}

.header-social a.goog:hover {
  background: url(../../images/google.png)no-repeat 12px 9px #ff4b3b;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
}

.header-social h4 {
  font-size: 17px;
  color: #6A67CE;
  text-align: center;
  margin: 20px 0px;
  font-family: 'Roboto Condensed', sans-serif;
}

.header-social h4 a {
  color: #6A67CE;
}

.header-social h4 a:hover {
  color: #FFB900;
}

.hero-wrap.hero-wrap-2 {
  height: 600px;
  display: flex;
  align-items: center;
}

.Invalid {
  color: #e0db17;
  font-weight: 100;
}

span.txt1 {
  color: white;
}
a.txt2.hov1 {
  color: #e0db17;
  text-decoration: underline;
  margin-left: 5px;
}
@media (min-width: 768px) {
  .w4 .agile {
    width: 500px;
    margin: auto;
  }
}