.coverCourseVideo {
  // width: 100%;
  margin: 0;
  .up-Video {
    width: 100%;
  }
  .down-Video {
    width: 100%;
  }
}

@media (min-width: 1024px) {
  .coverCourseVideo {
    width: 100%;
    .up-Video {
      width: 70%;
    }
    .down-Video {
      width: 30%;
    }
  }
}
